.product-management {
  .input {
    margin-right: 0.313rem;
  }

  .input-update {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
  }

  Button:focus-visible {
    outline: 2px solid #f2af00;
  }

  .p-button-rounded {
    margin-left: 0.32rem;
  }

  .p-button-success {
    background: #269d26;
  }
}
