.product-table {

  .p-datatable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .table-header-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      h3:focus-visible {
        outline: 2px solid #f2af00;
      }
      
      .p-button:focus-visible {
        outline: 2px solid #f2af00;
        box-shadow: none;
      }
    }
    
    .p-inputtext:focus-visible {
      outline: 2px solid #f2af00;
      box-shadow: none;
      border: none;
    }
  }

  .header-table {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .dropdown {
      height: fit-content;
    }
  }

  .header-table-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
  }

  .button {
    color: #495057;
  }

  .action-button {
    display: flex;
    justify-content: center;
  }

  .link {
    text-decoration: none;
  }
}
