.buy-list {
  background: linear-gradient(to right, #abbaab, #ffffff);

  .input {
    margin-right: 0.313rem;
  }

  Button:focus-visible {
    outline: 2px solid #F2AF00;
  }

  .p-button-rounded {
    margin-left: 0.320rem;
  }

  .p-button-success {
    background: #269D26;
  }

}